# pandas.DataFrameの基本的使い方
## プログラム内部で新たなdataFrameを生成する

In [1]:
import pandas

DataFrameの作り方：その1
- 列のデータを辞書型で準備
- 列のデータと行のラベルを指定

In [2]:
data = { # データの準備
      '数学':[90, 70, 100, 60],
      '理科':[80, 90, 90, 70],
      '英語':[80, 100, 80, 90],
      '社会':[70, 90, 70, 80]}
index  = ['山田', '佐藤', '鈴木', '渡辺'] # 行の名前
df = pandas.DataFrame(data, index)
df.index.name = '名前'
df

     数学  理科   英語  社会
名前
山田   90  80   80  70
佐藤   70  90  100  90
鈴木  100  90   80  70
渡辺   60  70   90  80

DataFrameの作り方：その2
- 列のデータを辞書型で準備して生成
- 特定の列をindexとして指定

In [3]:
data2 = { # データの準備
       '名前':['山田', '佐藤', '鈴木', '渡辺'],
       '数学':[90, 70, 100, 60],
       '理科':[80, 90, 90, 70],
       '英語':[80, 100, 80, 90],
       '社会':[70, 90, 70, 80]}
df2 = pandas.DataFrame(data2)
df2.set_index('名前', inplace = True)
df2

     数学  理科   英語  社会
名前
山田   90  80   80  70
佐藤   70  90  100  90
鈴木  100  90   80  70
渡辺   60  70   90  80

DataFrameの作り方: その3

列名だけを指定して、データ行の無いDataFrameを作る

In [4]:
df3 = pandas.DataFrame(columns=['名前','数学','英語']) # 列のみのDataFrameを作成
df3.set_index('名前',inplace=True)
df3

Empty DataFrame
Columns: [数学, 英語]
Index: []

行インデクスのみのDataFrameを作る

In [5]:
df4 = pandas.DataFrame(columns=['名前']) # 一列のみのDataFrameを作成
df4.set_index('名前', inplace=True)
df4

Empty DataFrame
Columns: []
Index: []

## 新しい列の生成
- `dataFrame[`列名`]=`リスト

In [6]:
label = '体育'
record = [90, 70, 80, 100]
df[label] = record
df

     数学  理科   英語  社会   体育
名前
山田   90  80   80  70   90
佐藤   70  90  100  90   70
鈴木  100  90   80  70   80
渡辺   60  70   90  80  100

## 新しい行の生成
- `dataFrame.loc[`行名`]=`リスト

In [7]:
name = '古賀'
record_Koga = [90, 90, 85, 70, 70]
df.loc[name] = record_Koga
df

     数学  理科   英語  社会   体育
名前
山田   90  80   80  70   90
佐藤   70  90  100  90   70
鈴木  100  90   80  70   80
渡辺   60  70   90  80  100
古賀   90  90   85  70   70

Seriesを作って、行を追加する
- `dataFrame.loc[`行名`] = Series`

In [8]:
name = '藤井'
ser = pandas.Series([90, 75, 85, 100, 65], index = df.columns)
print(ser)
df.loc[name] = ser
print(df)

数学     90
理科     75
英語     85
社会    100
体育     65
dtype: int64
     数学  理科   英語   社会   体育
名前
山田   90  80   80   70   90
佐藤   70  90  100   90   70
鈴木  100  90   80   70   80
渡辺   60  70   90   80  100
古賀   90  90   85   70   70
藤井   90  75   85  100   65

## Excelファイルへの出力
- `to_excel()`メソッド

In [9]:
with pandas.ExcelWriter('tmp-out.xlsx') as f:
    df.to_excel(f)